/* Reset Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
}

/* Common Styles */

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.common-btn {
  background-color: #1d4ed8;
  color: white;
  border: none;
  cursor: pointer;
}

/* Navbar Styles Start*/

.navbar-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.navbar-logo img {
  width: 100%;
}

.navbar-menu ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

.navbar-menu ul li a {
  text-decoration: none;
  color: #575757;
}

.navbar-btn {
  padding: 10px 28px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;
}

/* Navbar Styles End */

/* Header Styles Start */

header {
  background-image:
    linear-gradient(to right, black 0%, transparent 100%),
    url("./assets/banner.jpg");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 380px;
}

/* header top */

.header-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  max-width: 700px;
}

.header-title {
  font-size: 66px;
  font-weight: 700;
  margin: 0;
}

.header-description {
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
}

/* header bottom */

.header-btn {
  padding: 20px 45px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 600;
}

/* Header Styles End */

/* Speakers Styles Start */

.meet-the-speakers-root {
  padding: 80px 0;
  text-align: center;
}

.meet-the-speakers-root h2 {
  font-size: 3rem;
  margin-bottom: 50px;
}

.spaekers-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.speakers-box {
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}

.spaekers-cards img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  display: block;
}

.box-content {
  padding: 20px;
  text-align: left;
}
.category {
  color: #2563EB;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.box-content h3 {
  margin: 10px 0;
  font-size: 24px;
}

.job {
  color: #575757;
  font-size: 15px;
}

/* Speakers Styles End */

/* Pricing Styles Start */

.pricing-title {
  text-align: center;
  margin-bottom: 60px;
}

.pricing-title h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.pricing-title p {
  color: #575757;
  font-size: 13px;
}

.pricing-cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: stretch;
}

.pricing-box {
  display: flex;
  flex-direction: column;
  width: 360px;
  padding: 30px;
  border-radius: 12px;
}

.standard, .team {
  border: 1px solid #E5E7EB;
}

.price-p1 {
  text-transform: uppercase;
  font-size: 12px;
  color: #888888;
}

.price h3 {
  font-size: 40px;
  margin: 10px 0 3px 0;
}

.price-p2 {
  color: #888888;
}

hr {
  margin: 25px 0;
  border: none;
  border-top: 1px solid #E5E7EB;
}

.pricing-box ul {
  flex: 1;
}

.pricing-box ul li {
  margin-bottom: 18px;
  color: #333333;
  font-size: 16px;
}

.pricing-box ul li::marker {
  color: #2563EB;
}


.pro {
  background-color: #0D1B2A;
  color: white;
  border: 1px solid #0D1B2A;
}

.price-p1-pro {
  color: #93C5FD;
}

.price-p2-pro {
  color: #888888;
}

.pro ul li {
  color: #eee;
}

.pro hr {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* button styles */

.pricing-box button {
  margin-top: 25px;
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 13px;
}

.standard button {
  background-color: #fff;
  color: #2563EB;
  border: 2px solid #2563EB;
}


.pro button {
  background-color: #2563EB;
  border: none;
  color: white;
}

.team button {
  border: 2px solid #0D1B2A;
  background-color: white;
}

/* Pricing Styles End */